#btnRefresh {
	font-size: 18pt;
}

/*div.icicle * {
	overflow: overlay;
}*/

rect {
  stroke: #fff;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

#show-length {
	position: absolute;
	top: 10px;
	left: 10px;
}

.links {
	fill: none;
	stroke: #000;
}

.link-extensions {
	fill: none;
	stroke: #000;
	stroke-opacity: .25;
}

.labels {
	font: 10px sans-serif;
}

.link--active {
	stroke: #000 !important;
	stroke-width: 1.5px;
}

.link-extension--active {
	stroke-opacity: .6;
}

.label--active {
	font-weight: bold;
}

.node circle {
	fill: #999;
}

.node text {
	font: 10px sans-serif;
}

.node--internal circle {
	fill: #555;
}

.node--internal text {
	text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
	fill: none;
	stroke: #555;
	stroke-opacity: 0.4;
	stroke-width: 1.5px;
}