# BackEnd
BackEnd/tmp
BackEnd/src/components/taxdmp/*.dmp
BackEnd/src/static/

# Virtual environment
biovis

# FrontEnd
FrontEndV2
FrontEnd/node_modules
FrontEnd/public/tmp

# Static files
static
static.*
