# BackEnd
BackEnd/tmp/*.accession2taxid
BackEnd/tmp/*.gz
BackEnd/tmp/*.sqlite
BackEnd/src/components/taxdmp/*.dmp
BackEnd/src/static/tmp/*

# Virtual environment
biovis

# FrontEnd
FrontEndV2
FrontEnd/node_modules
FrontEnd/public/tmp

# Static files
static
static.*
