textarea { 
    font-size: 12px; 
}
.exit {
    opacity: 0.5;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
div.title {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 2000;
}
div.container {
    width: 100%;
    margin: 0%;
}
div.vis-form {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1000;
    box-shadow: 0 8px 6px -6px #ccc;
    padding-top: 2cm;
}
div.vis-body * {
    display: inline;
    margin-top: 3cm;
}